<div class="jumbotron">
  <div class="container">
    <h1>Multi Version Bible Reading</h1>
    <p align="right"><a id="website" class="btn btn-primary btn-large">Official Website</a></p>
  </div>
</div>

	<span class="label label-info">Source code (GPL)</span>http://github.com/samsuanchen/mvbr

</div>
</div>

<div class="well">

</div>
